[submodule "third_party/gaussian-splatting-official"]
	path = third_party/gaussian-splatting-official
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "third_party/gaussian-splatting-pkg"]
	path = third_party/gaussian-splatting-pkg
	url = https://github.com/yindaheng98/gaussian-splatting.git
[submodule "third_party/reduced-3dgs"]
	path = third_party/reduced-3dgs
	url = https://github.com/yindaheng98/reduced-3dgs.git
[submodule "third_party/3dgs-mcmc-pkg"]
	path = third_party/3dgs-mcmc-pkg
	url = https://github.com/yindaheng98/3dgs-mcmc.git
